body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.vote-cast-container {
    text-align: center;
    margin: 20px 0;
    height: 260px;
    /* display: flex; */
    /* justify-content: space-between; */
}


.form {
    display: inline-block;
    padding: 20px;
    width: 250px;
    height: 180px;
    border: 2px solid #ccc;
    border-radius: 10px;
    /* border: 2px solid black; */
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.form label, .form input, .form select{
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.form input, .form select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    /* margin-top: -20px; */
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #45a049;
}
.live-results-heading{
    margin-top:50px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

.live-results {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    margin: 20px;
    flex-wrap: wrap;
}
.contesent {
    text-align: center;
    width: 300px;
}

.contesent img {
    /* width: 100%;
    height: auto; */
    height: 400px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.contesent span {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}


/*Modal*/
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
}

.modal-content {
    padding: 15px;
}
